body
 {
  height: 100%;

  
  background-image: url("W1.jpg");
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('W1.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     
}
a {
  color: white;
}